.spinner__wrap .fas {
  padding: 5px;
}

.spinner__wrap .spinner__minus, .spinner__plus {
  background-color: #000000;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  /*height: 32.5px;
  border-radius: 50%;*/
}

.spinner__wrap .spinner__minus.disable, .spinner__plus.disable {
  opacity: 0.2;
  cursor: inherit;
}

.spinner__wrap {
  /*display: flex;*/
}

.spinner__wrap .spinner__val {
  border: #000000 solid 1.5px;
  height: 40px;
  width: 40px;
  display: inline-block;
  font-weight: 600;
  margin: 0 5px;
  padding: 0;
  font-size: 13px;
}

.spinner__wrap .spinner__val[type=number] {
  text-align: center;
  font-size: 20px;
}

.spinner__wrap .spinner__val[type=number]::-webkit-outer-spin-button,
.spinner__wrap .spinner__val[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.spinner__wrap .spinner__val[type=number]:focus {
  outline: none;
}
